# API Service
API_PORT=

# Database Image
# PostgreSQL: DB_IMAGE=postgres:15
# MySQL     : DB_IMAGE=mysql:8.0.26
DB_IMAGE=postgres:15

# DB Info
# PostgreSQL: DB_PORT=5432
# MySQL:      DB_PORT=3306
DB_PORT=
DB_USER=
DB_NAME=
DB_PASS=
DB_HOST=<if you run in localhost DB_HOST=localhost>

# Network 
HOST=<if you run in localhost HOST=host>

JWT_SECRET_KEY=

# OAuth2 service
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Contact Email
TRAVAIL_EMAIL=
TRAVAIL_PASS=
TRAVAIL_APP_PASS=

# Sendgrid 
SENDGRID_API_KEY=
